.searchPokemon {
  border-radius: 4px;
  margin: 20px auto;
  margin-right: 20px;
  max-width: 100%;
  padding: 5px;
  width: 72%;
  border: 1px solid;
  color: #0e6f9f;
  position: relative;
  @media screen and (max-width: 768px) {
    width: 72%;
  }

  @media screen and (max-width: 390px) {
    width: 72%;
  }
}

.centered-img {
  display: flex;
  justify-content: end;
  width: 100px;
  margin-top: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  color: white;
  margin: 10px;
  padding: 5px;
  background-color: #0e6f9f;
  border-radius: 4px;
  border: none;
  width: 100px;
  cursor: pointer;
  font-size: 16px;
}

.pagination button:hover {
  background-color: #003652;
}

.pagination p {
  margin: 0 10px;
}

.star-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.showFav {
  padding-top: 20px;
  display: flex;
  justify-content: end;
  padding-right: 15px;
  margin-bottom: 20px;
}

.searchContainer {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  z-index: 9999;
  margin: 0;
}

.searchIcon {
  position: absolute;
  left: 0px;
  color: gray;
  top: 50%;
  transform: translateY(-50%);
}
